
.node-wrapper
{
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: start;
	margin: 0 auto;
    flex-direction: column;
	gap: 20px;

	.node-input-group
	{
		display: flex;
		align-items: center;
		gap: 4px;
		
		.node-button
		{
			cursor: pointer;

			width: 18px;
			height: 18px;
			border-radius: 50%;
			visibility: hidden;

			font-size: 12px;
			font-weight: bold;
			color: rgb(251,251,251);
			border: none;

			&.add
			{
				background-color: rgb(76,216,104);
			}

			&.remove
			{
				background-color: rgb(255,58,49);
			}
		}

		&:hover
		{
			.node-button
			{
				visibility: initial;
			}
		}

		.node
		{
			display: flex;
			width: 32px;
			height: 32px;

            color: rgb(50,230,226);
            background-color: rgb(6,11,16);
			border-radius: 50%;
			border-color: rgb(50,230,226);
			border-width: 4px;
			border-style: solid;

			text-align: center;
			font-family: 'Consolas', Consolas, monospace !important;
            font-weight: 600;
            
            z-index: 1;
			-moz-appearance: textfield;
			
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button 
			{
				-webkit-appearance: none;
				margin: 0; 
			}

			&:focus
			{
				outline: none;
			}

			&.disabled
			{
                color: rgb(6,11,16);
			    border-color: rgb(50,230,226);
				background-color: rgb(50,230,226);
			}
		}
	}

	.children-nodes-container
	{
		display: flex;
		align-items: start;
		justify-content: center;
		gap: 5px;
	}
}
